<?xml version="1.0" encoding="UTF-8"?>
<config>
	<smoky>
		<animation frameSize="300" animationId="Смоки М0" />
		<animation frameSize="300" animationId="Смоки М1" />
		<animation frameSize="300" animationId="Смоки М2" />
		<animation frameSize="300" animationId="Смоки М3" />
		<animation frameSize="1000" animationId="Гром М0" />
		<animation frameSize="1000" animationId="Гром М1" />
		<animation frameSize="1000" animationId="Гром М2" />
		<animation frameSize="1000" animationId="Гром М3" />
		<animation frameSize="200" animationId="Шафт М0" />
		<animation frameSize="200" animationId="Шафт М1" />
		<animation frameSize="200" animationId="Шафт М2" />
		<animation frameSize="200" animationId="Шафт М3" />
	</smoky>
	<isis>
		<effect>
			<id>isida0</id>
			<idleSpark frameSize="150" animationId="heal" rm="1" gm="1" bm="1" am="1" />
			<healStart frameSize="150" animationId="heal" rm="1" gm="1" bm="1" am="1"/>
			<healEnd frameSize="150" animationId="heal" rm="1" gm="1" bm="1" am="1"/>
			<healShaft frameSize="200" animationId="heal_shaft" rm="1" gm="1" bm="1" am="1"/>
			<damageStart frameSize="150" animationId="damage" rm="1" gm="1" bm="1" am="1"/>
			<damageEnd frameSize="150" animationId="damage" rm="1" gm="1" bm="1" am="1"/>
			<damageShaft frameSize="200" animationId="damage_shaft" rm="1" gm="1" bm="1" am="1"/>
		</effect>
	</isis>
	<flamethrower>
		<muzzlePlane>
			<width>100</width>
			<length>300</length>
		</muzzlePlane>
		<particleOffset>90</particleOffset>
		<particleRandomOffset>40</particleRandomOffset>
		<animation frameSize="128" animationId="Огнемёт М0" />
		<animation frameSize="128" animationId="Огнемёт М1" />
		<animation frameSize="128" animationId="Огнемёт М2" />
		<animation frameSize="128" animationId="Огнемёт М3" />
	</flamethrower>
	<freeze>
		<muzzlePlane>
			<width>210</width>
			<length>350</length>
		</muzzlePlane>
		<animation frameSize="128" animationId="Фриз М0-М3" />
	</freeze>
	<twinsExplosion>
		<animation frameSize="150" animationId="Твинс М0_exp" />
		<animation frameSize="150" animationId="Твинс М1_exp" />
		<animation frameSize="150" animationId="Твинс М2_exp" />
		<animation frameSize="150" animationId="Твинс М3_exp" />
		<animation frameSize="100" animationId="Рикошет М0_exp" />
		<animation frameSize="100" animationId="Рикошет М1_exp" />
		<animation frameSize="100" animationId="Рикошет М2_exp" />
		<animation frameSize="100" animationId="Рикошет М3_exp" />
	</twinsExplosion>
	<twinsShot>
		<animation frameSize="200" animationId="Твинс М0" />
		<animation frameSize="200" animationId="Твинс М1" />
		<animation frameSize="200" animationId="Твинс М2" />
		<animation frameSize="200" animationId="Твинс М3" />
		<animation frameSize="200" animationId="Рикошет М0" />
		<animation frameSize="200" animationId="Рикошет М1" />
		<animation frameSize="200" animationId="Рикошет М2" />
		<animation frameSize="200" animationId="Рикошет М3" />
	</twinsShot>
	<railgun>
		<effect id="Рельса М0" maxBeamScale="10" beamLifeTime="2000" rm="1" gm="1" bm="1" am="1" />
		<effect id="Рельса М1" maxBeamScale="10" beamLifeTime="2000" rm="1" gm="1" bm="1" am="1" />
		<effect id="Рельса М2" maxBeamScale="10" beamLifeTime="2000" rm="1" gm="1" bm="1" am="1" />
		<effect id="Рельса М3" maxBeamScale="10" beamLifeTime="2000" rm="1" gm="1" bm="1" am="1" />
	</railgun>
	<models baseUrl="data/assets/">
		<model id="flag_stand_red" url="ctf/flag_stand_red.3ds" />
		<model id="flag_stand_blue" url="ctf/flag_stand_blue.3ds" />
		<model id="gold_box" url="boxes/gold.3ds" />
	</models>
	<skyboxes baseUrl="data/assets/skyboxes/">
		<skybox id="skybox_1_hills" url="hills/01.jpg" />
		<skybox id="skybox_2_hills" url="hills/02.jpg" />
		<skybox id="skybox_3_hills" url="hills/03.jpg" />
		<skybox id="skybox_4_hills" url="hills/04.jpg" />
		<skybox id="skybox_5_hills" url="hills/05.jpg" />
		<skybox id="skybox_6_hills" url="hills/06.jpg" />
		<skybox id="skybox_1_hills_night" url="hills_night/01.jpg" />
		<skybox id="skybox_2_hills_night" url="hills_night/02.jpg" />
		<skybox id="skybox_3_hills_night" url="hills_night/03.jpg" />
		<skybox id="skybox_4_hills_night" url="hills_night/04.jpg" />
		<skybox id="skybox_5_hills_night" url="hills_night/05.jpg" />
		<skybox id="skybox_6_hills_night" url="hills_night/06.jpg" />
		<skybox id="skybox_1_mountains" url="mountains/01.jpg" />
		<skybox id="skybox_2_mountains" url="mountains/02.jpg" />
		<skybox id="skybox_3_mountains" url="mountains/03.jpg" />
		<skybox id="skybox_4_mountains" url="mountains/04.jpg" />
		<skybox id="skybox_5_mountains" url="mountains/05.jpg" />
		<skybox id="skybox_6_mountains" url="mountains/06.jpg" />
		<skybox id="skybox_1_mountains_night" url="mountains_night/01.jpg" />
		<skybox id="skybox_2_mountains_night" url="mountains_night/02.jpg" />
		<skybox id="skybox_3_mountains_night" url="mountains_night/03.jpg" />
		<skybox id="skybox_4_mountains_night" url="mountains_night/04.jpg" />
		<skybox id="skybox_5_mountains_night" url="mountains_night/05.jpg" />
		<skybox id="skybox_6_mountains_night" url="mountains_night/06.jpg" />
		<skybox id="skybox_1_desert" url="desert/01.jpg" />
		<skybox id="skybox_2_desert" url="desert/02.jpg" />
		<skybox id="skybox_3_desert" url="desert/03.jpg" />
		<skybox id="skybox_4_desert" url="desert/04.jpg" />
		<skybox id="skybox_5_desert" url="desert/05.jpg" />
		<skybox id="skybox_6_desert" url="desert/06.jpg" />
		<skybox id="skybox_1_desert_night" url="desert_night/01.jpg" />
		<skybox id="skybox_2_desert_night" url="desert_night/02.jpg" />
		<skybox id="skybox_3_desert_night" url="desert_night/03.jpg" />
		<skybox id="skybox_4_desert_night" url="desert_night/04.jpg" />
		<skybox id="skybox_5_desert_night" url="desert_night/05.jpg" />
		<skybox id="skybox_6_desert_night" url="desert_night/06.jpg" />
		<skybox id="skybox_1_cologne" url="cologne/01.jpg" />
		<skybox id="skybox_2_cologne" url="cologne/02.jpg" />
		<skybox id="skybox_3_cologne" url="cologne/03.jpg" />
		<skybox id="skybox_4_cologne" url="cologne/04.jpg" />
		<skybox id="skybox_5_cologne" url="cologne/05.jpg" />
		<skybox id="skybox_6_cologne" url="cologne/06.jpg" />
		<skybox id="skybox_1_winter" url="winter/01.jpg" />
		<skybox id="skybox_2_winter" url="winter/02.jpg" />
		<skybox id="skybox_3_winter" url="winter/03.jpg" />
		<skybox id="skybox_4_winter" url="winter/04.jpg" />
		<skybox id="skybox_5_winter" url="winter/05.jpg" />
		<skybox id="skybox_6_winter" url="winter/06.jpg" />
		<skybox id="skybox_1_iran" url="iran/01.jpg" />
		<skybox id="skybox_2_iran" url="iran/02.jpg" />
		<skybox id="skybox_3_iran" url="iran/03.jpg" />
		<skybox id="skybox_4_iran" url="iran/04.jpg" />
		<skybox id="skybox_5_iran" url="iran/05.jpg" />
		<skybox id="skybox_6_iran" url="iran/06.jpg" />
		<skybox id="skybox_1_iran_winter" url="iran_winter/01.jpg" />
		<skybox id="skybox_2_iran_winter" url="iran_winter/02.jpg" />
		<skybox id="skybox_3_iran_winter" url="iran_winter/03.jpg" />
		<skybox id="skybox_4_iran_winter" url="iran_winter/04.jpg" />
		<skybox id="skybox_5_iran_winter" url="iran_winter/05.jpg" />
		<skybox id="skybox_6_iran_winter" url="iran_winter/06.jpg" />
		<skybox id="skybox_1_urban" url="urban/01.jpg" />
		<skybox id="skybox_2_urban" url="urban/02.jpg" />
		<skybox id="skybox_3_urban" url="urban/03.jpg" />
		<skybox id="skybox_4_urban" url="urban/04.jpg" />
		<skybox id="skybox_5_urban" url="urban/05.jpg" />
		<skybox id="skybox_6_urban" url="urban/06.jpg" />
		<skybox id="skybox_1_urban_night" url="urban_night/01.jpg" />
		<skybox id="skybox_2_urban_night" url="urban_night/02.jpg" />
		<skybox id="skybox_3_urban_night" url="urban_night/03.jpg" />
		<skybox id="skybox_4_urban_night" url="urban_night/04.jpg" />
		<skybox id="skybox_5_urban_night" url="urban_night/05.jpg" />
		<skybox id="skybox_6_urban_night" url="urban_night/06.jpg" />
		<skybox id="skybox_1_rio" url="rio/01.jpg" />
		<skybox id="skybox_2_rio" url="rio/02.jpg" />
		<skybox id="skybox_3_rio" url="rio/03.jpg" />
		<skybox id="skybox_4_rio" url="rio/04.jpg" />
		<skybox id="skybox_5_rio" url="rio/05.jpg" />
		<skybox id="skybox_6_rio" url="rio/06.jpg" />
		<skybox id="skybox_1_rio_night" url="rio_night/01.jpg" />
		<skybox id="skybox_2_rio_night" url="rio_night/02.jpg" />
		<skybox id="skybox_3_rio_night" url="rio_night/03.jpg" />
		<skybox id="skybox_4_rio_night" url="rio_night/04.jpg" />
		<skybox id="skybox_5_rio_night" url="rio_night/05.jpg" />
		<skybox id="skybox_6_rio_night" url="rio_night/06.jpg" />
		<skybox id="skybox_1_space" url="space/01.jpg" />
		<skybox id="skybox_2_space" url="space/02.jpg" />
		<skybox id="skybox_3_space" url="space/03.jpg" />
		<skybox id="skybox_4_space" url="space/04.jpg" />
		<skybox id="skybox_5_space" url="space/05.jpg" />
		<skybox id="skybox_6_space" url="space/06.jpg" />
		<skybox id="skybox_1_ny" url="ny/01.jpg" />
		<skybox id="skybox_2_ny" url="ny/02.jpg" />
		<skybox id="skybox_3_ny" url="ny/03.jpg" />
		<skybox id="skybox_4_ny" url="ny/04.jpg" />
		<skybox id="skybox_5_ny" url="ny/05.jpg" />
		<skybox id="skybox_6_ny" url="ny/06.jpg" />
		<skybox id="skybox_1_halloween" url="halloween/01.jpg" />
		<skybox id="skybox_2_halloween" url="halloween/02.jpg" />
		<skybox id="skybox_3_halloween" url="halloween/03.jpg" />
		<skybox id="skybox_4_halloween" url="halloween/04.jpg" />
		<skybox id="skybox_5_halloween" url="halloween/05.jpg" />
		<skybox id="skybox_6_halloween" url="halloween/06.jpg" />
	</skyboxes>
	<textures baseUrl="data/assets/">
		<texture id="dust" alpha="dust/dust_alpha.jpg" url="dust/dust.jpg" />
		<texture id="dust_winter" alpha="dust/dust_winter_alpha.jpg" url="dust/dust_winter.jpg" />
		<texture id="smoky_decal" alpha="decals/smoky_alpha.jpg" url="decals/smoky.jpg" />
		<texture id="thunder_decal" alpha="decals/thunder_alpha.jpg" url="decals/thunder.jpg" />
		<texture id="shaft_decal" alpha="decals/shaft_alpha.jpg" url="decals/shaft.jpg" />
		<texture id="twins_decal" alpha="decals/twins_alpha.jpg" url="decals/twins.jpg" />
		<texture id="railgun_decal" alpha="decals/railgun_alpha.jpg" url="decals/railgun.jpg" />
		<texture id="parachute" alpha="NO" url="boxes/parachute.jpg" />
		<texture id="parachute_inner" alpha="NO" url="boxes/parachuteInner.jpg" />
		<texture id="cords" alpha="boxes/cords_alpha.jpg" url="boxes/cords.jpg" />
		<texture id="medkit_box" alpha="NO" url="boxes/medkit.jpg" />
		<texture id="armor_box" alpha="NO" url="boxes/armor.jpg" />
		<texture id="damage_box" alpha="NO" url="boxes/damage.jpg" />
		<texture id="nitro_box" alpha="NO" url="boxes/nitro.jpg" />
		<texture id="cry_box" alpha="NO" url="boxes/cry.jpg" />
		<texture id="gold_box" alpha="NO" url="boxes/gold.jpg" />
		<texture id="green_mine" alpha="NO" url="mines/green.jpg" />
		<texture id="red_square" alpha="NO" url="collision/red_square.gif" />
		<texture id="green_square" alpha="NO" url="collision/green_square.gif" />
		<texture id="teal_triangle" alpha="NO" url="collision/teal_triangle.gif" />
		<texture id="active_spawn_marker" alpha="NO" url="markers/green_triangle.gif" />
		<texture id="dm_spawn_marker" alpha="NO" url="markers/yellow_marker.gif" />
		<texture id="red_spawn_marker" alpha="NO" url="markers/red_marker.gif" />
		<texture id="blue_spawn_marker" alpha="NO" url="markers/blue_marker.gif" />
		<texture id="dom_spawn_marker" alpha="NO" url="markers/cp_marker.gif" />
		<texture id="neutral_point_marker" alpha="cp/point_alpha.jpg" url="cp/point.jpg" />
		<texture id="point_pedestal" alpha="NO" url="cp/pedestal.jpg" />
		<texture id="fs_blue" alpha="NO" url="ctf/fs_blue.jpg" />
		<texture id="fs_red" alpha="NO" url="ctf/fs_red.jpg" />
		<texture id="blue_flag" alpha="ctf/flag_alpha.jpg" url="ctf/blue_flag.jpg" />
		<texture id="red_flag" alpha="ctf/flag_alpha.jpg" url="ctf/red_flag.jpg" />
		<texture id="active_spawn_marker" alpha="NO" url="markers/green_triangle.gif" />
		<texture id="smoky_muzzle_flash" alpha="smoky/smoky_shot_alpha.jpg" url="smoky/smoky_shot.jpg" />
		<texture id="damage_shaft" alpha="isida/damage_shaft_alpha.jpg" url="isida/damage_shaft.jpg" />
		<texture id="damage" alpha="isida/damage_alpha.jpg" url="isida/damage.jpg" />
		<texture id="heal_shaft" alpha="isida/heal_shaft_alpha.jpg" url="isida/heal_shaft.jpg" />
		<texture id="heal" alpha="isida/heal_alpha.jpg" url="isida/heal.jpg" />
		<texture id="Смоки М0" alpha="smoky/smoky_explosion0_alpha.jpg" url="smoky/smoky_explosion0.jpg" />
		<texture id="Смоки М1" alpha="smoky/smoky_explosion1_alpha.jpg" url="smoky/smoky_explosion1.jpg" />
		<texture id="Смоки М2" alpha="smoky/smoky_explosion2_alpha.jpg" url="smoky/smoky_explosion2.jpg" />
		<texture id="Смоки М3" alpha="smoky/smoky_explosion3_alpha.jpg" url="smoky/smoky_explosion3.jpg" />
		<texture id="flamethrower/Огнемёт" alpha="flamethrower/fireball_alpha.jpg" url="flamethrower/fireball.jpg" />
		<texture id="Огнемёт М0_muzzle" alpha="flamethrower/m0/muzzle_alpha.jpg" url="flamethrower/m0/muzzle.jpg" />
		<texture id="Огнемёт М1_muzzle" alpha="flamethrower/m1/muzzle_alpha.jpg" url="flamethrower/m1/muzzle.jpg" />
		<texture id="Огнемёт М2_muzzle" alpha="flamethrower/m2/muzzle_alpha.jpg" url="flamethrower/m2/muzzle.jpg" />
		<texture id="Огнемёт М3_muzzle" alpha="flamethrower/m3/muzzle_alpha.jpg" url="flamethrower/m3/muzzle.jpg" />
		<texture id="freeze" alpha="freeze/freezeballs_alpha.jpg" url="freeze/freezeballs.jpg" />
		<texture id="freeze_stream" alpha="freeze/muzzle_alpha.jpg" url="freeze/muzzle.jpg" />
		<texture id="Гром М0" alpha="smoky/thunder_explosion0_alpha.jpg" url="smoky/thunder_explosion0.jpg" />
		<texture id="Гром М1" alpha="smoky/thunder_explosion1_alpha.jpg" url="smoky/thunder_explosion1.jpg" />
		<texture id="Гром М2" alpha="smoky/thunder_explosion2_alpha.jpg" url="smoky/thunder_explosion2.jpg" />
		<texture id="Гром М3" alpha="smoky/thunder_explosion3_alpha.jpg" url="smoky/thunder_explosion3.jpg" />
		<texture id="Шафт М0" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" />
		<texture id="Шафт М1" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" brightness="18.053" contrast="-2.655" saturation="44.248" hue="339.29"/>
		<texture id="Шафт М2" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" brightness="14.668" contrast="-5.31" saturation="61.947" hue="313.81"/>
		<texture id="Шафт М3" alpha="smoky/shaft_explosion_alpha.jpg" url="smoky/shaft_explosion.jpg" brightness="11.283" contrast="-5.31" saturation="150.442" hue="302.65"/>
		<texture id="Твинс М0_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg"  />
		<texture id="Твинс М0" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" />
		<texture id="Твинс М0_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" />
		<texture id="Твинс М1_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg" hue="46.19"/>
		<texture id="Твинс М1" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" hue="46.19"/>
		<texture id="Твинс М1_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" hue="46.19"/>
		<texture id="Твинс М2_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg" brightness="30.465" contrast="2.655" saturation="-17.699" hue="73.27"/>
		<texture id="Твинс М2" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" brightness="30.465" contrast="2.655" saturation="-8.85" hue="226.19"/>
		<texture id="Твинс М2_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" brightness="30.465" contrast="2.655" saturation="-8.85" hue="226.19"/>
		<texture id="Твинс М3_flash" alpha="plasma/twin/muzzle_flash_alpha.jpg" url="plasma/twin/muzzle_flash.jpg" brightness="10.155" contrast="2.655" saturation="-17.699" hue="73.27"/>
		<texture id="Твинс М3" alpha="plasma/twin/charge_alpha.jpg" url="plasma/twin/charge.jpg" brightness="10.155" contrast="1.77" saturation="-8.85" hue="297.88"/>
		<texture id="Твинс М3_exp" alpha="plasma/twin/explosion_alpha.jpg" url="plasma/twin/explosion.jpg" brightness="10.155" contrast="1.77" saturation="-8.85" hue="297.88"/>
		<texture id="Рикошет М0_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="14.668" contrast="0" saturation="-8.85" hue="6.37"/>
		<texture id="Рикошет М0" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg"  brightness="14.668" contrast="0" saturation="-8.85" hue="6.37"/>
		<texture id="Рикошет М0_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="14.668" contrast="0" saturation="-8.85" hue="6.37"/>
		<texture id="Рикошет М1_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="1.128" contrast="0" saturation="0" hue="345.66"/>
		<texture id="Рикошет М1" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg" brightness="1.128" contrast="0" saturation="0" hue="345.66"/>
		<texture id="Рикошет М1_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="1.128" contrast="0" saturation="0" hue="345.66"/>
		<texture id="Рикошет М2_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="1.128" contrast="0" saturation="0" hue="1.59"/>
		<texture id="Рикошет М2" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg" brightness="1.128" contrast="0" saturation="0" hue="1.59"/>
		<texture id="Рикошет М2_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="1.128" contrast="0" saturation="0" hue="1.59"/>
		<texture id="Рикошет М3_flash" alpha="plasma/rico/muzzle_flash_alpha.jpg" url="plasma/rico/muzzle_flash.jpg" brightness="1.128" hue="353.63"/>
		<texture id="Рикошет М3" alpha="plasma/rico/shot_alpha.jpg" url="plasma/rico/shot.jpg" brightness="1.128" hue="353.63"/>
		<texture id="Рикошет М3_exp" alpha="plasma/rico/explosion_alpha.jpg" url="plasma/rico/explosion.jpg"  brightness="1.128" hue="353.63"/>
		<texture id="tank_explosion/shockwave" alpha="tank_explosion/shock_wave_alpha.jpg" url="tank_explosion/shock_wave.jpg" />
		<texture id="tank_explosion/explosion" alpha="tank_explosion/explosion_small_alpha.jpg" url="tank_explosion/explosion_small.jpg" />
		<texture id="tank_explosion/smoke" alpha="tank_explosion/smoke_alpha.jpg" url="tank_explosion/smoke.jpg" />
		<texture id="Рельса М0_smoke" alpha="railgun/smoke_alpha.png" url="railgun/smoke.png" />
		<texture id="Рельса М0_part1" alpha="railgun/charge_part1_alpha.png" url="railgun/charge_part1.png" />
		<texture id="Рельса М0_part2" alpha="railgun/charge_part2_alpha.png" url="railgun/charge_part2.png" />
		<texture id="Рельса М0_part3" alpha="railgun/charge_part3_alpha.png" url="railgun/charge_part3.png" />
		<texture id="Рельса М0_beam" alpha="railgun/beam_alpha.png" url="railgun/beam.png" />
		<texture id="Рельса М0_expl" alpha="railgun/sphere_alpha.png" url="railgun/sphere.png" />
		<texture id="Рельса М1_part1" alpha="railgun/charge_part1_alpha.png" url="railgun/charge_part1.png"  brightness="10.155" contrast="-2.655" saturation="44.248" hue="340.88"/>
		<texture id="Рельса М1_part2" alpha="railgun/charge_part2_alpha.png" url="railgun/charge_part2.png"  brightness="10.155" contrast="-2.655" saturation="44.248" hue="340.88"/>
		<texture id="Рельса М1_part3" alpha="railgun/charge_part3_alpha.png" url="railgun/charge_part3.png"  brightness="10.155" contrast="-2.655" saturation="44.248" hue="340.88"/>
		<texture id="Рельса М1_beam" alpha="railgun/beam_alpha.png" url="railgun/beam.png" brightness="10.155" contrast="-2.655" saturation="61.947" hue="344.07"/>
		<texture id="Рельса М1_expl" alpha="railgun/sphere_alpha.png" url="railgun/sphere.png" brightness="10.155" contrast="-2.655" saturation="61.947" hue="344.07"/>
		<texture id="Рельса М1_smoke" alpha="railgun/smoke_alpha.png" url="railgun/smoke.png"   brightness="10.155" contrast="-2.655" saturation="61.947" hue="344.07"/>
		<texture id="Рельса М2_part1" alpha="railgun/charge_part1_alpha.png" url="railgun/charge_part1.png" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_part2" alpha="railgun/charge_part2_alpha.png" url="railgun/charge_part2.png" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_part3" alpha="railgun/charge_part3_alpha.png" url="railgun/charge_part3.png"  brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_beam" alpha="railgun/beam_alpha.png" url="railgun/beam.png" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_expl" alpha="railgun/sphere_alpha.png" url="railgun/sphere.png" brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М2_smoke" alpha="railgun/smoke_alpha.png" url="railgun/smoke.png"    brightness="7.898" contrast="-2.655" saturation="35.398" hue="78.05"/>
		<texture id="Рельса М3_part1" alpha="railgun/charge_part1_alpha.png" url="railgun/charge_part1.png" brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_part2" alpha="railgun/charge_part2_alpha.png" url="railgun/charge_part2.png" brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_part3" alpha="railgun/charge_part3_alpha.png" url="railgun/charge_part3.png"  brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_expl" alpha="railgun/sphere_alpha.png" url="railgun/sphere.png"  brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_beam" alpha="railgun/beam_alpha.png" url="railgun/beam.png" brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="Рельса М3_smoke" alpha="railgun/smoke_alpha.png" url="railgun/smoke.png"    brightness="9.027" contrast="-3.54" saturation="44.248" hue="208.67"/>
		<texture id="railgun_pow" alpha="railgun/pow_alpha.png" url="railgun/pow.png" />
	</textures>
	<textureAnimations>
		<animation id="railgun_pow">
			<textureId>railgun_pow</textureId>
			<frameWidth>65</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>6</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="damage_shaft">
			<textureId>damage_shaft</textureId>
			<frameWidth>100</frameWidth>
			<frameHeight>500</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="heal_shaft">
			<textureId>heal_shaft</textureId>
			<frameWidth>100</frameWidth>
			<frameHeight>500</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="damage">
			<textureId>damage</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="heal">
			<textureId>heal</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М0">
			<textureId>Смоки М0</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М1">
			<textureId>Смоки М1</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М2">
			<textureId>Смоки М2</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Смоки М3">
			<textureId>Смоки М3</textureId>
			<frameWidth>102</frameWidth>
			<frameHeight>102</frameHeight>
			<numFrames>25</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М0">
			<textureId>Шафт М0</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М1">
			<textureId>Шафт М1</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М2">
			<textureId>Шафт М2</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Шафт М3">
			<textureId>Шафт М3</textureId>
			<frameWidth>78</frameWidth>
			<frameHeight>195</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Твинс М0">
			<textureId>Твинс М0</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М0_exp">
			<textureId>Твинс М0_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М1">
			<textureId>Твинс М1</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М1_exp">
			<textureId>Твинс М1_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М2">
			<textureId>Твинс М2</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М2_exp">
			<textureId>Твинс М2_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М3">
			<textureId>Твинс М3</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Твинс М3_exp">
			<textureId>Твинс М3_exp</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>256</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М0">
			<textureId>Рикошет М0</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М0_exp">
			<textureId>Рикошет М0_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Рикошет М1">
			<textureId>Рикошет М1</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М1_exp">
			<textureId>Рикошет М1_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Рикошет М2">
			<textureId>Рикошет М2</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М2_exp">
			<textureId>Рикошет М2_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Рикошет М3">
			<textureId>Рикошет М3</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>10</numFrames>
			<fps>28</fps>
		</animation>
		<animation id="Рикошет М3_exp">
			<textureId>Рикошет М3_exp</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>204</frameHeight>
			<numFrames>20</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="dust">
			<textureId>dust</textureId>
			<frameWidth>32</frameWidth>
			<frameHeight>32</frameHeight>
			<numFrames>17</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="dust_winter">
			<textureId>dust_winter</textureId>
			<frameWidth>32</frameWidth>
			<frameHeight>32</frameHeight>
			<numFrames>17</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М0">
			<textureId>Гром М0</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М1">
			<textureId>Гром М1</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М2">
			<textureId>Гром М2</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Гром М3">
			<textureId>Гром М3</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>32</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М0">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М1">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М2">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М3">
			<textureId>flamethrower/Огнемёт</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>51</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М0_muzzle">
			<textureId>Огнемёт М0_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М1_muzzle">
			<textureId>Огнемёт М1_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М2_muzzle">
			<textureId>Огнемёт М2_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Огнемёт М3_muzzle">
			<textureId>Огнемёт М3_muzzle</textureId>
			<frameWidth>204</frameWidth>
			<frameHeight>51</frameHeight>
			<numFrames>5</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="Фриз М0-М3">
			<textureId>freeze</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>13</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="freeze_stream">
			<textureId>freeze_stream</textureId>
			<frameWidth>256</frameWidth>
			<frameHeight>150</frameHeight>
			<numFrames>11</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="tank_explosion/shockwave">
			<textureId>tank_explosion/shockwave</textureId>
			<frameWidth>128</frameWidth>
			<frameHeight>128</frameHeight>
			<numFrames>16</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="tank_explosion/explosion">
			<textureId>tank_explosion/explosion</textureId>
			<frameWidth>170</frameWidth>
			<frameHeight>170</frameHeight>
			<numFrames>36</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="tank_explosion/smoke">
			<textureId>tank_explosion/smoke</textureId>
			<frameWidth>64</frameWidth>
			<frameHeight>64</frameHeight>
			<numFrames>16</numFrames>
			<fps>30</fps>
		</animation>
		<animation id="plasma/shot">
			<textureId>plasma/shot</textureId>
			<frameWidth>150</frameWidth>
			<frameHeight>150</frameHeight>
			<numFrames>10</numFrames>
			<fps>25</fps>
		</animation>
		<animation id="plasma/explosion">
			<textureId>plasma/explosion</textureId>
			<frameWidth>200</frameWidth>
			<frameHeight>200</frameHeight>
			<numFrames>10</numFrames>
			<fps>25</fps>
		</animation>
	</textureAnimations>
	<hulls path="data/hulls">
		<hull id="Wasp M0" path="wasp/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Wasp M1" path="wasp/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Wasp M2" path="wasp/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Wasp M3" path="wasp/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hornet M0" path="hornet/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hornet M1" path="hornet/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hornet M2" path="hornet/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hornet M3" path="hornet/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hunter M0" path="hunter/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hunter M1" path="hunter/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hunter M2" path="hunter/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Hunter M3" path="hunter/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Viking M0" path="viking/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Viking M1" path="viking/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Viking M2" path="viking/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Viking M3" path="viking/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Dictator M0" path="dictator/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Dictator M1" path="dictator/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Dictator M2" path="dictator/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Dictator M3" path="dictator/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Titan M0" path="titan/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Titan M1" path="titan/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Titan M2" path="titan/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Titan M3" path="titan/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Mammoth M0" path="mammoth/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Mammoth M1" path="mammoth/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Mammoth M2" path="mammoth/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
		<hull id="Mammoth M3" path="mammoth/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</hull>
	</hulls>
	<turrets path="data/turrets">
		<turret id="Smoky M0" path="smoky/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Smoky M1" path="smoky/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Smoky M2" path="smoky/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Smoky M3" path="smoky/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Flamethrower M0" path="flamethrower/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Flamethrower M1" path="flamethrower/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Flamethrower M2" path="flamethrower/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Flamethrower M3" path="flamethrower/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Twins M0" path="twins/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Twins M1" path="twins/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Twins M2" path="twins/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Twins M3" path="twins/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Railgun M0" path="railgun/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Railgun M1" path="railgun/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Railgun M2" path="railgun/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Railgun M3" path="railgun/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Isida M0" path="isida/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Isida M1" path="isida/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Isida M2" path="isida/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Isida M3" path="isida/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Freeze M0" path="freeze/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Freeze M1" path="freeze/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Freeze M2" path="freeze/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Freeze M3" path="freeze/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Ricochet M0" path="ricochet/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Ricochet M1" path="ricochet/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Ricochet M2" path="ricochet/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Ricochet M3" path="ricochet/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Thunder M0" path="thunder/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Thunder M1" path="thunder/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Thunder M2" path="thunder/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Thunder M3" path="thunder/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Shaft M0" path="shaft/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Shaft M1" path="shaft/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Shaft M2" path="shaft/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Shaft M3" path="shaft/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Hammer M0" path="shotgun/m0">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Hammer M1" path="shotgun/m1">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Hammer M2" path="shotgun/m2">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
		<turret id="Hammer M3" path="shotgun/m3">
			<model file="object.3ds" lightmap="lightmap.jpg" details="details.jpg" alpha="details_alpha.jpg" />
		</turret>
	</turrets>
	<colormaps path="data/colormaps">
		<colormap id="1" file="Green.jpg" />
		<colormap id="2" file="Red.jpg" />
		<colormap id="3" file="Blue.jpg" />
		<colormap id="4" file="Black.jpg" />
		<colormap id="5" file="White.jpg" />
		<colormap id="6" file="Orange.jpg" />
		<colormap id="7" file="Flora.jpg" />
		<colormap id="8" file="Marine.jpg" />
		<colormap id="9" file="Swamp.jpg" />
		<colormap id="10" file="Forester.jpg" />
		<colormap id="11" file="Metallic.jpg" />
		<colormap id="12" file="Lava.jpg" />
		<colormap id="13" file="Lead.jpg" />
		<colormap id="14" file="Safari.jpg" />
		<colormap id="15" file="Dragon.jpg" />
		<colormap id="16" file="Mary.jpg" />
		<colormap id="17" file="Storm.jpg" />
		<colormap id="18" file="Carbon.jpg" />
		<colormap id="19" file="In-Love.jpg" />
		<colormap id="20" file="Alien.jpg" />
		<colormap id="21" file="Dirty.jpg" />
		<colormap id="22" file="Swash.jpg" />
		<colormap id="23" file="Jaguar.jpg" />
		<colormap id="24" file="Desert.jpg" />
		<colormap id="25" file="Corrosion.jpg" />
		<colormap id="26" file="Tundra.jpg" />
		<colormap id="27" file="Roger.jpg" />
		<colormap id="28" file="Cedar.jpg" />
		<colormap id="29" file="Python.jpg" />
		<colormap id="30" file="Electra.jpg" />
		<colormap id="31" file="Sandstone.jpg" />
		<colormap id="32" file="Spark.jpg" />
		<colormap id="33" file="Digital.jpg" />
		<colormap id="34" file="Rustle.jpg" />
		<colormap id="35" file="Hohloma.jpg" />
		<colormap id="36" file="Loam.jpg" />
		<colormap id="37" file="Winter.jpg" />
		<colormap id="38" file="Urban.jpg" />
		<colormap id="39" file="Savanna.jpg" />
		<colormap id="40" file="Irbis.jpg" />
		<colormap id="41" file="Emerald.jpg" />
		<colormap id="42" file="Inferno.jpg" />
		<colormap id="43" file="Jade.jpg" />
		<colormap id="44" file="Taiga.jpg" />
		<colormap id="45" file="Prodigi.jpg" />
		<colormap id="46" file="Rock.jpg" />
		<colormap id="47" file="Needle.jpg" />
		<colormap id="48" file="Picasso.jpg" />
		<colormap id="49" file="Zeus.jpg" />
		<colormap id="50" file="Clay.jpg" />
		<colormap id="Dead" file="special\Dead.jpg" />
		<colormap id="51" file="special\Acid.jpg" />
		<colormap id="53" file="special\Alligator.jpg" />
		<colormap id="54" file="special\Microchip.jpg" />
		<colormap id="55" file="special\Engineer.jpg" />
		<colormap id="56" file="special\Flame.jpg" />
		<colormap id="57" file="special\Gladiator.jpg" />
		<colormap id="58" file="special\Glide.jpg" />
		<colormap id="59" file="special\Helios.jpg" />
		<colormap id="60" file="special\Devil.jpg" />
		<colormap id="61" file="special\Moonwalker.jpg" />
		<colormap id="62" file="special\Master_of_Parkour_22.jpg" />
		<colormap id="63" file="special\Spectator.jpg" />
		<colormap id="64" file="special\Impulse.jpg" />
		<colormap id="65" file="special\Premium.jpg" />
		<colormap id="66" file="holiday\Absent.jpg" />
		<colormap id="67" file="holiday\21_12_NewYear.jpg" />
		<colormap id="68" file="holiday\22_02_ValentinesDay.jpg" />
		<colormap id="69" file="holiday\22_02_DefenderoftheFatherlandDay.jpg" />
		<colormap id="70" file="holiday\22_04_AprilFoolsDay.jpg" />
		<colormap id="71" file="holiday\22_04_CosmonauticsDay.jpg" />
		<colormap id="72" file="holiday\22_04_EasterDay.jpg" />
		<colormap id="73" file="holiday\22_05_VictoryDay.jpg" />
		<colormap id="74" file="holiday\22_07_Birthday.jpg" />
		<colormap id="75" file="holiday\22_08_RailwayWorkersDay.jpg" />
		<colormap id="76" file="holiday\22_09_TankersDay.jpg" />
		<colormap id="77" file="user\1.jpg" />
		<colormap id="78" file="user\2.jpg" />
		<colormap id="79" file="user\3.jpg" />
	</colormaps>
</config>