<?xml version="1.0"?>
<data>
	<callsign>Aivaz</callsign>
	<rank>21</rank>
	<rankId>First Lieutenant</rankId>
	<scores>309877</scores>
	<position>hornet</position>
	<tank>
		<turret>railgun</turret>
		<hull>hornet</hull>
		<coloring>holiday</coloring>
	</tank>
	<turret>railgun</turret>
	<hull>hornet</hull>
	<coloring>holiday</coloring>
</data>